body {
  background-color: rgb(13, 13, 43);
}

.handles {
  display: flex;
  justify-content: center;
}

.butt {
  background: none;
  border: none;
  margin: 20px;
  font-size: 70px;
  transition: 100ms;
}

.butt:hover {
  /* font-size: 90px;
  margin: 0 10px; */
  transform: scale(1.4);
}

.butt:active {
  margin: 20px;
  font-size: 70px;
  background: none;
  font-size: 70px;
  border: none;
  outline: none;
}

.image {
  height: 120px;
}

.res-score {
  display: inline-flex;
  /* margin: 0 40px; */
  font-size: 35px;
}

.results {
  display: grid;
  color: aliceblue;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.name {
  font-weight: bolder;
}

.score {
  margin-left: 15px;
}

.history {
  height: 70px;
  opacity: 0.5;
}

.winner {
  height: 80px;
  opacity: 1;
}
